body {
    font-family: "Funnel Display", sans-serif;
}

hr {
    color: silver;
}

.title-space{
    margin-top: 400px;
}

.bio {
    text-indent: 2em;
    font-size: 30px;
    font-family: "Funnel Display", sans-serif;
    text-align: left;
    color: silver;
    margin-left: 15vw;
    margin-right: 15vw;
}

/* Dropdown Button - Colour, size, positioning, text style*/
.dropbtn {
  background-color: black;
  width: 100%;
  height: 60px;
  color: silver;
  font-size: 25px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: silver;
  padding: 12px 16px;
  font-size: 25px;
  font-family: "Funnel Display", sans-serif;
  text-align: center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(151, 0, 0);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(151, 0, 0);}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 80px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(10, 10, 10); /* Black*/
  border: 2px solid silver;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
}

/* The navigation menu links - only padding due to no text */
.sidenav a {
  padding-left: 10px;
  padding-top: 10px;
}

/* When you mouse over the navigation links, change their color - not used */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  margin-left: 80px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.additional {
    font-size: 16px;
    font-family: "Funnel Display", sans-serif;
    text-align: left;
    color: silver;
    border: 5px solid black;
    padding: 1%;
}

.comingsoon {
    font-size: 75px;
    font-family: "Birthstone", sans-serif;
    text-align: center;
    color: silver;
    border: 5px double black;
}

.list-container{
    text-align: center;
    font-size: 35px;
    line-height: 2.5;
}

.fragmentstitle {
    font-size: 40px;
    text-align: center;
    color: darkgray;
}

.fragmentscontents {
    font-size: 25px;
    color: darkgray;
}

.paradisetitle {
    font-size: 40px;
    text-align: center;
    color: magenta;
}

.paradisecontents {
    font-size: 25px;
    padding-left: 5%;
    color: magenta;
}

ul.a {
    list-style-type: none;
}

.podcast-list{
    font-family: "Funnel Display", sans-serif;
    font-size: 25px;
    color: #e2dcd1;
    text-align: center;
}